#include "types.h"

IDD_DIALOG_BEXIT DIALOGEX 0, 0, 185, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | DS_CENTER | WS_SYSMENU
CAPTION APP_NAME
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "", 3000, 0, 43, 200, 22
    ICON            IDI_WARNING, 3001, 10, 12, 50, 50
    LTEXT           "", 3002, 35, 17, 240, 20
    DEFPUSHBUTTON   "Select file", ID_SELECT, 70, 48, 55, 12
    DEFPUSHBUTTON   "Exit", ID_EXIT, 132, 48, 43, 12
END

IDD_DIALOG_BEXIT_E DIALOGEX 0, 0, 185, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | DS_CENTER | WS_SYSMENU
CAPTION APP_NAME
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "", 3000, 0, 43, 200, 22
    ICON            IDI_ERROR, 3001, 10, 12, 50, 50
    LTEXT           "", 3002, 35, 17, 240, 20
    DEFPUSHBUTTON   "Select file", ID_SELECT, 70, 48, 55, 12
    DEFPUSHBUTTON   "Exit", ID_EXIT, 132, 48, 43, 12
END

IDD_DIALOG_BCANCEL DIALOGEX 0, 0, 185, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | DS_CENTER | WS_SYSMENU
CAPTION APP_NAME
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "", 3000, 0, 43, 200, 22
    ICON            IDI_WARNING, 3001, 10, 12, 50, 50
    LTEXT           "", 3002, 35, 17, 240, 20
    DEFPUSHBUTTON   "Select file", ID_SELECT, 70, 48, 55, 12
    DEFPUSHBUTTON   "Cancel", ID_EXIT, 132, 48, 43, 12
END

IDD_DIALOG_BCANCEL_E DIALOGEX 0, 0, 185, 65
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | DS_CENTER | WS_SYSMENU
CAPTION APP_NAME
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "", 3000, 0, 43, 200, 22
    ICON            IDI_ERROR, 3001, 10, 12, 50, 50
    LTEXT           "", 3002, 35, 17, 240, 20
    DEFPUSHBUTTON   "Select file", ID_SELECT, 70, 48, 55, 12
    DEFPUSHBUTTON   "Cancel", ID_EXIT, 132, 48, 43, 12
END
